.tabs-list {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  align-items: flex-end;
}
.tabs-list button {
  min-width: 150px;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  box-shadow: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
.tabs-list button[aria-selected="true"] {
  border-bottom: 2px solid var(--main-color);
}
