.cart-items-container,
.cart-summary-container > div:first-child {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 1rem;
}
.cart-items-container {
  flex: 1;
}
.cart-summary-container {
  width: 35%;
  display: flex;
  flex-direction: column;
}
.cart-items-container h4,
.cart-summary-container h4 {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.5rem;
}
